{% extends "base.html" %}
{% from "macros.html" import paginate with context %}

{% block title %}Addresses{% endblock %}
{% block content %}
<div class="d-md-flex justify-content-between">
  <h2>Aliases</h2>
</div>
<ul class="nav nav-tabs mb-1">
  <li class="nav-item">
    <a class="nav-link" href="/addresses">Addresses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/addresses/aliases">Aliases</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/addresses/contracts">Contracts</a>
  </li>
</ul>
{{paginate(pagination, "/addresses/aliases/page/", ulclass="pagination-sm", navclass="d-flex flex-row-reverse tabbed-pagination")}}
<table class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Alias</th>
      <th scope="col">Hash</th>
      <th scope="col">Date Created</th>
      <th scope="col">Block height</th>
    </tr>
  </thead>
  <tbody>
    {% for alias in aliases %}
    <tr>
      <th scope="row">{{alias._id}}</th>
      <td>
        <a href="/addresses/{{alias.address}}" class="address">
          {{alias.address}}
        </a>
      </th>
      <td class="">{{datetime.fromtimestamp(int(alias.time/1000)).strftime('%Y-%m-%d')}}</td>
      <td class="">{{alias.blockHeight}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{paginate(pagination, "/addresses/aliases/page/",  ulclass="pagination-sm", navclass="d-flex flex-row-reverse")}}
{% endblock %}
