{% extends "base.html" %}

{% block title %}Consensus Status{% endblock %}
{% block content %}
<div class="container">
  <h2 class="d-flex justify-content-between align-items-center">
    Agents <small>{{node_count}} nodes, {{active_count}} active</small>
    <span> Block #{{consensus.height}}</span>
  </h2>
  <div class="row">
    {% for agent in consensus.agents %}
    {% if agent.status or (agent.creditVal != 0) %}
      {% if agent.creditVal < -0.5 %}
        {% set cardclass = 'bg-danger text-white' %}
        {% set progressclass = 'bg-danger' %}
      {% elif agent.creditVal < 0.5 %}
        {% set cardclass = 'bg-warning' %}
        {% set progressclass = 'bg-warning' %}
      {% else %}
        {% set cardclass = 'bg-success text-white' %}
        {% set progressclass = 'bg-success' %}
      {% endif %}
    {% else %}
      {% set cardclass = 'bg-light' %}
      {% set progressclass = 'bg-primary' %}
    {% endif %}
    <div class="col-md-6 col-lg-4">
      <div class="card mb-5 mx-2 {{cardclass}}">
        <div class="card-header">
            <span class="float-right badge {{('badge-warning', 'badge-success')[agent.status]}}">
              {{('waiting', 'running')[agent.status]}}
            </span>
            <a href="/consensus/node/{{agent.agentHash}}" class="text-white">
              {{agent.agentId}}
            </a>
        </div>
          <div class="progress" style="height: 0.5rem">
            <div class="progress-bar progress-bar-striped progress-bar-animated {{progressclass}}" role="progressbar"
              aria-valuenow="{{ ((agent.creditVal+1)/2)*100 }}" aria-valuemin="0" aria-valuemax="100"
              style="width: {{ ((agent.creditVal+1)/2)*100 }}%" title="{{ agent.creditVal }}"></div>
          </div>
            <ul class="list-group list-group-flush text-dark" style="font-size:.8rem;">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Address:
                <span class="d-inline-block text-truncate">
                  <a href="/addresses/{{agent.agentAddress}}">
                    {{agent.agentName or agent.agentAddress}}
                  </a>
                </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Commission:
                <span class="d-inline-block text-truncate">{{agent.commissionRate}}%</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Bond:
                <span class="d-inline-block text-truncate">{{"%0.2f" % (agent.deposit/100000000)}} <i class="nuls"></i></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Participants:
                <span class="d-inline-block text-truncate">{{agent.memberCount}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Amount:
                <span class="d-inline-block text-truncate">{{"%0.2f" % (agent.totalDeposit/100000000)}} <i class="nuls"></i></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Blocks packed all time:
                <span class="d-inline-block text-truncate">{{total_all.get(agent.packingAddress, 0)}} / {{"{0:.2f}%".format((total_all.get(agent.packingAddress, 0)/last_height)*100)}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Blocks packed last hour:
                <span class="d-inline-block text-truncate">{{total_hour.get(agent.packingAddress, 0)}} / {{"{0:.2f}%".format((total_hour.get(agent.packingAddress, 0)/360)*100)}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Blocks packed last day:
                <span class="d-inline-block text-truncate">{{total_day.get(agent.packingAddress, 0)}} / {{"{0:.2f}%".format((total_day.get(agent.packingAddress, 0)/8640)*100)}}</span>
              </li>
              <li class="list-group-item list-group-item-action text-right">
                <a class="text-dark" href="/consensus/node/{{agent.agentHash}}">View details <i class="fa fa-angle-double-right"></i></a>
              </li>
            </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
