{% macro transaction_detail(transaction) -%}
<div class="card mb-3">
  <div class="card-header d-flex">
    <div class="flex-grow-1">
      <a href="/transactions/{{transaction.hash}}">
        {{transaction.hash}}
      </a>

      <span class="badge badge-primary">{{TRANSACTION_TYPES[transaction.type]}}</span>
      {% if transaction.get('info', {}).agentHash or transaction.get('info', {}).createTxHash %}
        <a href="/consensus/node/{{transaction.info.agentHash or transaction.info.createTxHash}}">
           <span class="badge badge-secondary text-white">Consensus Node 🏦</span>
         </a>
      {% endif %}
    </div>
    <div class="text-right">
      {{datetime.fromtimestamp(int(transaction.time/1000)).strftime('%Y-%m-%d %H:%M:%S')}}
    </div>
  </div>
  {% if (len(transaction.outputs) or len(transaction.inputs)) %}
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-5">
            {% for input in transaction.inputs %}
              <p>
                {% if input.address %}
                  <span class="float-right">{{input.value/100000000}} <i class="nuls"></i></span>
                  <a href="/addresses/{{input.address}}" class="address">
                    {{input.address}}
                  </a>
                  <a href="/transactions/{{input.fromHash}}#output{{input.fromIndex}}"
                     title="{{input.fromHash}}"
                     class="text-dark">
                    ⛓
                  </a>
                {% else %}
                 ❌ Error with transaction input
                {% endif %}
              </p>
            {% endfor %}
          </div>
          <div class="col-2">
            ➡️
          </div>
          <div class="col-5">
            {% for output in transaction.outputs %}
              <p>
                <span class="float-right">{{output.value/100000000}} <i class="nuls"></i></span>
                <a href="/addresses/{{output.address}}" class="address">
                  {{output.address}}
                </a>
                {% if (output.status < 3) and
                    ((output.lockTime == -1)
                     or ((output.lockTime > last_height) and (output.lockTime < 1000000000000))
                     or (output.lockTime > (time.time()*1000))) %}
                <span class="badge badge-warning">
                  locked
                  {% if (output.lockTime == -1) %}
                   consensus
                  {% elif (output.lockTime > last_height) and (output.lockTime < 1000000000000) %}
                   until {{(datetime.now() + timedelta(seconds=10*(output.lockTime-last_height))).strftime('%Y-%m-%d %H:%M')}}
                  {% elif output.lockTime > (time.time()*1000) %}
                    until {{datetime.fromtimestamp(int(output.lockTime/1000)).strftime('%Y-%m-%d')}}
                  {% endif %}
                </span>
                {% endif %}
                {% if output.toHash %}
                  <a href="/transactions/{{output.toHash}}">
                     <span class="badge badge-secondary">spent ⛓</span>
                   </a>
                {% endif %}
              </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
</div>
{%- endmacro %}

{% macro transaction_summary(transaction, from_node=False) -%}
<tr>
  <td class="cell-20 cell-ellipsis"><a href="/transactions/{{transaction.hash}}">{{transaction.hash}}</a></td>
  <td>{{transaction.blockHeight}}</td>
  <td>{{datetime.fromtimestamp(int(transaction.time/1000)).strftime('%Y-%m-%d %H:%M:%S')}}</td>
  <td class="cell-20 cell-ellipsis">
    {% if transaction.source != None %}
    <a href="/addresses/{{transaction.source}}">
      {{transaction.source}}
    </a>
    {% endif %}
  </td>
  <td class="cell-20 cell-ellipsis">
    {% if transaction.target != None %}
    <a href="/addresses/{{transaction.target }}">
      {{transaction.target}}
    </a>
    {% endif %}
  </td>
  <td>
    <span class="badge {% if transaction.display_type == 'IN' %}badge-success{% elif transaction.display_type == 'OUT' %}badge-warning{% else %}badge-primary{% endif %}">
      {{transaction.display_type}}{% if transaction.get('info', dict()).get('alias', None) %} {{transaction.info.alias}}{% endif %}
    </span>
    {% if (transaction.get('info', dict()).get('agentHash', None) or transaction.get('info', dict()).get('createTxHash', None)) and not from_node %}
      <a href="/consensus/node/{{transaction.info.agentHash or transaction.info.createTxHash}}">
         <span class="badge badge-secondary text-white">🏦</span>
       </a>
    {% endif %}
    {% if (transaction.remark) %}
    <span title="{{transaction.remark}}">
      <i class="fe fe-info"></i>
    </span>
    {% endif %}
  </td>
  <td>{{transaction.value != None and "%0.3f"%(transaction.value/100000000) or ''}}</td>
  <td>{{transaction.fee/100000000}}</td>
</tr>
{%- endmacro %}

{% macro paginate(pagination, base_url="", ulclass="", navclass="") -%}
{% if pagination %}
  {% if not base_url %}
    {% set base_url = pagination.base_url %}
  {% endif %}

  {% if pagination.query_string %}
    {% set query_string = "?" + pagination.query_string %}
  {% else %}
    {% set query_string = "" %}
  {% endif %}

  <nav aria-label="Navigation" class="{{navclass}}">
    <ul class="pagination {{ulclass}}">
      {% if pagination.has_prev %}
        <li class="page-item">
          <a class="page-link" href="{{base_url}}{{ pagination.page - 1 }}{{query_string}}">&laquo; <span class="d-none d-lg-inline">Previous</span></a>
        </li>
      {% endif %}
      {%- for page in pagination.iter_pages() %}
        {% if page %}
          <li class="page-item{% if page == pagination.page %} active{% endif %}">
            <a class="page-link" href="{{base_url}}{{ page }}{{query_string}}">{{ page }}</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">…</a>
          </li>
        {% endif %}
      {%- endfor %}
      {% if pagination.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{base_url}}{{ pagination.page + 1 }}{{query_string}}"><span class="d-none d-lg-inline">Next</span> &raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
{%- endmacro %}
